<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <div class="dropdown">
      <select name="Select" id="mySelect" class="SelectDropdown">
        <option value="" selected disabled hidden>Options</option>
        <option value="Item A">Option A</option>
        <option value="Item B">Option B</option>
      </select>
    </div>
  </body>
</html>
